.my-region{
    min-height: 300px;
}
.oneedwards-body input[type=button], input[type=reset], input[type=submit], button {
    min-width: auto;
}

.oneedwards-body input[type=button]:hover, input[type=reset]:hover, input[type=submit]:hover, button:hover{
	border-color: transparent;
    background-color: transparent;
}


.docs-box table table{ 
	width: 100%;
}
.docs-box table table tbody tr:first-child td{
    border-top: 1px solid #9b9b9b; 
}
.docs-box table table tbody tr td{
    border-bottom: 1px solid #f2f2f2; 
    padding: 10px;
}
.docs-box table table tbody td:nth-child(5),
.docs-box table table tbody td:nth-child(6) a.ms-subtleLink{
    color: gray;
    font-size: 12px;
}
.docs-box table table thead th{
	padding-bottom: 15px;
}
.docs-box table table thead a.ms-headerSortTitleLink{
    color: black;
    font-size: 15px;
    font-weight: bold;
}
.faq .col-lg-8 .ms-webpart-zone, .faq .col-lg-8 .ms-webpart-cell-vertical-inline-table, .faq .col-lg-8 .ms-webpart-chrome-vertical{
	display: block;
}

